# Arquivo de dependências que será analisado.
# Opções:
# input/requirements.txt
# input/pyproject.toml
INPUT_FILE=input/requirements.txt

# false: mostra o Chrome
# true: executa sem interface gráfica
HEADLESS=false

# Tempo máximo de espera do Selenium.
WEBDRIVER_TIMEOUT=15

# Tempo máximo das requisições HTTP.
REQUEST_TIMEOUT=15

# Scores inferiores a este valor serão destacados.
SCORE_ALERT_LIMIT=65